.tooltip-path {
    position: relative;
  }

  .state-graph {
    color: var(--text);
    display: grid;
    place-items: center;
  }
  
  .tooltip-path:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #454747;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    bottom: 100%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    white-space: nowrap; /* Prevent tooltip from breaking to a new line */
    z-index: 1; /* Ensure the tooltip is above the element */
  }