.student-detail-box {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(203, 201, 201, 0.655);
    width: 95%;
    margin: 10px;
    overflow-y: auto;
  }

  .user-picture {
    margin-top: 18px;
  }
  
  .student-id-box {
    flex: auto; 
  }
  
  .student-grade-box {
    background-color: rgba(159, 153, 153, 0.6);
    padding: 5px 50px;
  }