.list-container {
  border: 1px solid var(--secondary);
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  padding-top: 10px;
  background-color: var(--primary);
  max-height: 92vh;
  overflow: auto;
}

.header {
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  font-weight: bold;
}

.list-item {
  color: var(--text_secondary);
  background-color: var(--secondary); 
}

.list-item.second {
  color: var(--text_secondary);
  background-color: var(--tertiary); 
  fill: 100%;
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--highlight);
}

.list-container::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--highlight);
  -webkit-box-shadow: inset 0 0 6px var(--highlight);
}

.list-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  outline: 1px solid var(--scrolloutline);
  border-radius: 10px;
}