.list-container {
    border: 10px solid rgba(203, 201, 201, 0.655);
    margin-left: 20px;
    max-height: 70vh;
    overflow-y: auto; 
  }
  
  .student-list {
    padding: 0;
    margin: 0;
    column-count: 1; 
  }
  
  .list-item {
    display: grid;
    place-items: center;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
  }

  .list-item.first {
    background-color: white; 
  }
  
  .list-item.second {
    background-color: #7393b3fd; 
    fill: 100%;
  }

  .list-item:hover {
    background-color: #c2c3c1
  }