.student-detail-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--primary);
    margin: 10px;
  }

  .user-picture {
    margin-right: 15px;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .right-box {

    display: flex;

  }
  
  .student-id-box {
    display: flex;
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 12px 20px;
    font-weight: bold;
    margin: 0 5px;
    color: var(--text);
  }

  .student-box {
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 12px 20px;
    font-weight: bold;
    margin: 5px;
    color: var(--text);
  }