:root {

    --primary: rgba(201, 201, 201, 0.991);
    --secondary: rgba(242, 242, 242, 0.991);
    --tertiary: #a0ced9ff;

    --highlight: rgb(228, 240, 243);
    --text: rgba(37, 35, 35, 0.991);
}