
:root {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, fill 0.3s;
    --primary: #F0EBD8;
    --secondary: #d6d1c0;
    --tertiary: rgba(96, 96, 114, 1);
    --tertiary_rgb: 96, 96, 114;
    --background: #c9c5b5;

    --highlight: #8dabd1;
    --text: rgba(37, 35, 35, 0.991);
    --text_secondary: rgba(37, 35, 35, 0.991);

    --scrollbar: #808080;
    --scrolloutline: #707f90;
    --scrollhover: #4d4d4d;

    --shadow: #1e1f22;
}

[data-theme="dark"] {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, fill 0.3s;
    --primary: #1e1f22;
    --secondary: #2b2d31;
    --tertiary: #595c66;
    --background: #303338;

    --highlight: #b76e68;
    --text: #F0EBD8;
    --text_secondary: #bdb9aa; 

    --scrollbar: #808080;
    --scrolloutline: #707f90;
    --scrollhover: #636363;
}

/* Elements that are using the custom properties */
body, button, input, textarea, select, div {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, fill 0.3s;
}

/* Other elements that might change */
a, p, h1, h2, h3, h4, h5, h6 {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, fill 0.3s;
}