.session-info {
    color: var(--text);
    margin-left: 20px;

}

#legend-svg {
    width: auto;
    padding-bottom: 10px;
}


#legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
}